@import 'global';
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $White;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 3;
    display: none;
    &.show-overlay{
        display: block;
    }
}
nav{
    border-bottom: 1px solid $Grayish-blue;
    .close{
        display: none;
    }
    .bars{
        display: none;
    }
    display: flex;
    width: 80%;
    margin: auto;
    height: 6.25rem;
    align-items: center;
    h1{
        font-size: 2.25rem;
    }
    .tabs{
        ul{
            display: flex;
            list-style: none;
            margin-left: 60px;
            gap: 30px;
            li{
                position: relative;
                text-transform: capitalize;
                a{
                    text-decoration: none;
                    color:$Dark-grayish-blue;
                    cursor: pointer;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 3px;
                    background: $orange;
                    position: absolute;
                    bottom: -40px;
                    display: none;
                }
                &:hover::after{
                    display: block;
                }
            }
        }
    }
    .cart-profile{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        .cart-icon{
            position: relative;
            .items{
                position: absolute;
                padding: 0 5px;
                background: $orange;
                color: $White;
                font-size: 0.6rem;
                top: -10px;
                right: 0;
                border-radius: 5px;
                display: none;
                &.show-items{
                    display: block;
                }
            }
            .show-svg{
                path{
                    fill:$Black;
                }
            }
            svg:hover{
                cursor: pointer;
                path{
                    fill: $Black;
                }
            }
        }
            position: relative;
            img{
                cursor: pointer;
                width: 50px;
                height: 50px;
                border: 3px solid $White;
                
                &:hover{
                    border: 3px solid $orange;
                    border-radius: 50%;
                }
            }
    }
}
main{
    width: 70%;
    margin: auto{
        top: 80px;
    }
    display: flex;
    gap: 10%;
    .modal{
        display: none;
        position: absolute;
        z-index:4;
        top: 50%;
        left: 50%;
        width: 450px;
        transform: translate(-50%,-50%);
        .close{
            text-align: right;
            margin-bottom: 20px;
            cursor: pointer;
            svg{
                transform: scale(1.5);
                path{
                    fill: $White;
                }
            }
            &:hover{
                svg path{
                    fill: $orange;
                }
            }
        }
        .slider{
            position: absolute;
            top: 230px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            z-index: 4;
            div{
                padding: 10px 15px;
                background: $White;
                border-radius: 50%;
                cursor:pointer;
                 &:hover{
                    background: $orange;
                }
            }
            .next{
                transform: translateX(50%);
               
            }
            .previous{
                transform: translateX(-50%);
            }
        }
        .modal-slides{
            width: 100%;
            overflow: hidden;
            margin-bottom: 0;
            .slide{
                display:flex;
                transform: translateX(calc(-100%*var(--y)));
                img{
                    width: 100%;
                    border-radius: 15px;
                }
            }
        }
        .modal-thumbnails{
            display: flex;
            margin: 0;
            justify-content: space-around;
            margin-top: 30px;
                img{
                    width: 15%;
                    border-radius: 10px;
                    border: 3px solid transparent;
                    opacity: 0.6;
                    &:hover{
                        opacity: 1;
                    }
                    &.highlight{
                            border:3px solid $orange;
                            opacity: 1;
                    }
                }
            
        }
        &.show-modal{
            display:block;
        }
    }
    .product{
        width: 80%;
        .product-image{
            width: 100%;
            .product-slides{
                overflow: hidden;
                position: relative;
                width: 100%;
                .slide{
                    display: flex;
                    transform: translateX(calc(-100%*var(--x)));
                    img{
                        width: 100%;
                        border-radius: 15px;
                    }
                }
                .slider{
                    display: none;
                    z-index: 3;
                }
            }
            .product-thumbnails{
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
                img{
                    width: 20%;
                    border-radius: 10px;
                    border: 3px solid transparent;
                    opacity: 0.6;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                    &.highlight{
                        border:3px solid $orange;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .product-info{
        margin-top: 40px;
        h3{
            text-transform: uppercase;
            color: $orange;
            letter-spacing: 0.1rem;
            margin-bottom: 20px;
            font-size: 0.9rem;
        }
        h1{
            font-size: 2.25rem;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 30px
        }
        p{
            color: $Dark-grayish-blue;
            line-height: 1.5rem;
            margin-bottom: 20px;
        }
        .price{
            margin-bottom: 30px;
            h2{
                display: inline-block;
            }
            .percent-disc{
                display: inline-block;
                padding: 0 5px;
                background: $pale-orange;
                color: $orange;
                border-radius: 5px;
                margin: {
                    top: 10px;
                    bottom: 5px;
                    left: 20px;
                }
                font-weight: 700;
            }
            .disc{
                font-weight: 700;
                text-decoration: line-through;
                margin: 0;
                color: $Grayish-blue;
            }
        }
        .cart-section{
            display: flex;
            justify-content: space-between;
            .counter{
                cursor: pointer;
                display: flex;
                width: 40%;
                height: 50px;
                align-items: center;
                justify-content: space-between;
                background: $Light-grayish-blue;
                padding: 0px 20px;
                border-radius: 10px;
                p{
                    font-size: 1rem;
                    color: $Black;
                    font-weight: 700;
                    font-weight: 400;
                    padding-top: 15px;
                }
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
            .add-to-cart{
                cursor: pointer;
                width: 55%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $White;
                background: $orange;
                border-radius: 5px;
                box-shadow: 0px 8px 16px 0 $pale-orange;
                font-weight: 700;

                svg {
                    margin-right: 10px;
                    path{
                        fill: $White;
                    }
                }
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }
    }
}
.cart{
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    right: 5%;
    width: 340px;
    min-height: 230px;
    background: $White;
    border-radius: 10px;
    transform: translateY(-400px);
    transition: 0.5s ease;
    box-shadow:4px 8px 16px 0 rgba(0,0,0,0.2);
    h3{
        padding: 20px 25px;
        font-size: 1rem;
        text-transform: capitalize;
        border-bottom: 1px solid $Grayish-blue;
    }
    .back{
        position: absolute;
        text-align: center;
        top: 50%;
        color: $Dark-grayish-blue;
        font-weight: 700;
        text-transform: capitalize;
        width: 100%;
    }
    ul{
        padding: 20px 25px;
        li{
            list-style: none;
            .product-thumb{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
                img{
                    width: 50px;
                    border-radius: 5px;
                }
                div{
                    p{
                        color: $Dark-grayish-blue;
                        font-size: 0.9rem;
                        span{
                            font-weight: 700;
                            color:$Black;
                            margin: 0 5px;
                        }
                    }
                }
                svg{
                    cursor: pointer;
                }
            }
            .checkout{
                text-align: center;
                background: $orange;
                padding: 15px 0;
                border-radius: 5px;
                a{
                    text-decoration: none;
                    color: $White;
                    font-weight: 700;
                }
            }
        }
    }
    &.show-cart{
        transform: translate(0);
    }
}
.profile{
    position: absolute;
    right: 5%;
    top: 120px;
    width: 200px;
    border-radius: 10px;
    background: $White;
    color: $Dark-grayish-blue;
    text-transform: capitalize;
    padding-top: 25px;
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.2);
    transform: translateY(-400px);
    transition: 0.5s ease;
    h1{
        font-size: 1.25rem;
        color: $Black;
        text-align:center;
        border-bottom: 1px solid $Grayish-blue;
    }
    ul{
        list-style: none;
        padding-top: 5px;
        li{
            padding: 8px 20px;
           a{
               display: flex;
               align-items: center;
               text-decoration: none;
               color: $Dark-grayish-blue;
               img{
                   width: 20px;
                   margin-right: 20px;
               }
           }
           &:hover{
               background: $pale-orange;
           }
        }
    }
    &.show-profile{
        transform: translate(0);
    }
}
@import 'mobile';
@import 'tablet';